html, body {
    /*background-color: #1D1128;*/
    /*color: #E5D4ED;*/
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    font-size: 5em;
}
.full-height {
    height: 100vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.links > a {
    /*color: #B689CC;*/
    padding: 0 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .2rem;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover {
    /*color: #E5D4ED*/;
}
.m-b-md {
    margin-bottom: 30px;
}